= form_for(@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
   
  .label Título
  = f.text_field :title, :placeholder => 'Título da mensagem'
  .label Comentário*
  = f.text_area :body
  .label user
  = f.text_field :user_id
  .label tutorial
  = f.text_field :tutorial_id
  
  .actions
    = f.submit value: 'Enviar'