= button_to "Criar novo tutorial", new_tutorial_path, class:'submitButton'

-@tutorials.each do |tutorial|
  .list
    %p= link_to tutorial.title.titleize, tutorial
    %p= tutorial.description
    %p Enviado por: #{tutorial.user.name.titleize}
    %p Categorias: bla bla bla
    //= tutorial.category
= paginate @tutorials